<div class="container">
  <form>
    <div class="form-group">
      <label for="nameLocation">Ubicación</label>
      <input type="text" class="form-control" id="nameLocation" [(ngModel)]="formLocation.nameLocation"
        [ngModelOptions]="{standalone: true}" placeholder="">
    </div>
    <div class="form-group">
      <label for="area_m2">Area (m2)</label>
      <input type="number" class="form-control" id="area_m2" [(ngModel)]="formLocation.area_m2"
        [ngModelOptions]="{standalone: true}" placeholder="">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="formLocation.locInternal"
        [ngModelOptions]="{standalone: true}" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">¿Ubicación Principal?</label>
    </div>
    <div class="form-group" *ngIf="formLocation.locInternal">
      <select class="form-control" [(ngModel)]="formLocation.idInternalLocation" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let item of listParentLoc" [value]="item.id">
          {{item.nameLocation}}
        </option>
      </select>
    </div>
    <button type="button" class="btn btn-success" (click)="addLocation(formLocation)">Agregar</button>
  </form>
</div>

<div class="container">

  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Acciones</th>
              <th scope="col">#</th>
              <th scope="col">Ubicación</th>
              <th scope="col">Area (m2)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listParentLoc">
              <td>
                <button type="button" class="btn btn-info" (click)="setEdit(item)">Editar</button>
                <button type="button" class="btn btn-secundary" (click)="showInternalLoc(!item.show)">Internos</button>
              </td>
              <td scope="row"> {{item.id}} </td>
              <td> {{item.nameLocation}} </td>
              <td> {{item.area_m2}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col" *ngIf="showTable">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Acciones</th>
              <th scope="col">#</th>
              <th scope="col">Ubicación</th>
              <th scope="col">Area (m2)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listInternalLoc">
              <td>
                <button type="button" class="btn btn-info" (click)="setEdit(item)">Editar</button>
              </td>
              <td scope="row"> {{item.id}} </td>
              <td> {{item.nameLocation}} </td>
              <td> {{item.area_m2}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>